@import url('https://fonts.googleapis.com/css?family=Abel|Lato:300,400,700|Unica+One');

$manaColor: #02B6EB;
$duelystGrey: #BDBEC0;

* {
  position: relative;
  box-sizing: border-box;
}


html, body {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Unica One', sans-serif;
  font-weight: 400;
}

strong, b {
  font-weight: 400;
  font-family: 'Unica One', sans-serif;
}

.site-title {
  //background: #016CB1;
  background: url('http://i63.tinypic.com/16j1n2g.jpg') no-repeat center bottom / cover;
  position: relative;

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 150ms;
  }

  a {
    font-family: 'Unica One', sans-serif;
    color: #FBFCFE;
    text-decoration: none;
    z-index: 1;
    position: relative;
    display: block;
  }

  &:hover {
    &::after {
      background: #016CB1;
      opacity: 0.55;
    }

    a {
      text-decoration: none;
    }
  }
}

a,
.btn-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

.btn {
  font-size: 1rem;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.cta {
  margin: 0.75rem auto 0 auto;
  border: 0;
  display: block;
  width: 174px; //width of button image
  height: 58px; // height of button image
  background: transparent;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 0.65rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;

  &.primary{
    width: 255px;
    height: 102px;
    font-size: 0.75rem;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    background: url('/assets/img/backgrounds/button_secondary.png') no-repeat center center / contain;
    opacity: 1;
  }

  &::after {
    background: url('/assets/img/backgrounds/button_secondary_glow.png') no-repeat center center / contain;
    opacity: 0.01;
    z-index: -1;
  }

  &.confirm::before {
    background: url('/assets/img/backgrounds/button_confirm.png') no-repeat center center / contain;
  }
  &.confirm::after {
    background: url('/assets/img/backgrounds/button_confirm_glow.png') no-repeat center center / contain;
  }

  &.primary::before {
    background: url('/assets/img/backgrounds/button_cta.png') no-repeat center center / contain;
  }
  &.primary::after {
    background: url('/assets/img/backgrounds/button_cta_glow.png') no-repeat center center / contain;
  }

  &.cancel::before {
    background: url('/assets/img/backgrounds/button_cancel.png') no-repeat center center / contain;
  }
  &.cancel::after {
    background: url('/assets/img/backgrounds/button_cancel_glow.png') no-repeat center center / contain;
  }

  &.disabled {
    opacity: 0.75;
    cursor: default;
    -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	filter: gray;
  }
  &.disabled::before {
    opacity: 1 !important;
  }
  &.disabled::after {
    display: none;
  }

  &:hover {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }

  .btn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    width: 100%;
  }
}








// .card {
//   font-family: 'Lato', sans-serif;
//   text-align: center;
//
//   .card-quickref {
//     display: flex;
//     text-align: right;
//     align-items: center;
//     justify-content: center;
//   }
//
//   .card-manaCost .card-icon {
//     color: #16C8E4;
//   }
//   .card-attack .card-icon {
//     color: #F2F55A;
//   }
//   .card-health .card-icon {
//     color: #F7001B;
//   }
//
//   .card-race {
//     text-transform: uppercase;
//     font-size: 0.75em;
//   }
//
//   .info-title {
//     text-transform: uppercase;
//     font-size: 0.75em;
//     text-align: left;
//     display: block;
//   }
//
//
//
//   .card-name {
//     font-weight: 700;
//     text-transform: uppercase;
//   }
//   .card-image {
//     width: 200px;
//     height: 200px;
//   }
//   .card-sprite {
//     image-rendering: optimizeSpeed;
//     image-rendering: -moz-crisp-edges;
//     image-rendering: -o-crisp-edges;
//     image-rendering: -webkit-optimize-contrast;
//     image-rendering: pixelated;
//     image-rendering: optimize-contrast;
//   -ms-interpolation-mode: nearest-neighborz;
//   }
// }

body {
  background: #161B22;
  color: $duelystGrey;
}








.card {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  .card-manaCost {
    position: absolute;
    background: url('/assets/img/backgrounds/icon_mana.png') no-repeat center center / cover;
    width: 57px;
    height: 63px;

    line-height: 63px;
    font-size: 22px;
    font-weight: 700;
    color: #0C52A1;
    text-shadow: 0 0 1rem rgba(164,255,255,.5);
  }

  .card-sprite {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighborz;
  }
}


[data-layout="layout-min"] .card,
.card.layout-min {
  width: 140px;
  height: 140px;
  margin-top: 50px;
  display: inline-block;
  transition: opacity 150ms;
  opacity: 1;

  .card-caption, .card-stats, .card-description {
    display: none;
  }

  .card-manaCost {
    bottom: 0;
    left: 50%;
    transform: scale(0.6) translate(-50%, 25%);
    z-index: 1;
    transform-origin: center left;
    font-size: 25px;
    line-height: 2.75;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    transition: opacity 150ms;
  }
  &::before {
    background: url('/assets/img/backgrounds/card_background.png') no-repeat bottom center;
  }
  &::after {
    background: url('/assets/img/backgrounds/card_background_highlight.png') no-repeat bottom center;
    opacity: 0;
  }

  &:hover::before {
    opacity: 0;
  }
  &:hover::after {
    opacity: 1;
  }

  &[data-available="0"] {
    opacity: 0.5;

    &::before, &::after {
      background: url('/assets/img/backgrounds/card_background_disabled.png') no-repeat bottom center;
      opacity: 1;
    }
  }

  .card-sprite {
    position: absolute;
    transform: scale(2) translateX(-50%);
    transform-origin: bottom left;
    bottom: 15px;
    left: 50%;
    pointer-events: none;
  }

  &[data-type="Artifact"],
  &[data-type="Spell"] {
    .card-sprite {
      bottom: 50%;
      transform: scale(2) translate(-50%,50%);
    }
  }
}

[data-layout="layout-full"] .card,
.card.layout-full {
  width: 226px;
  height: 296px;
  display: inline-block;
  vertical-align: top;
  margin: 50px 25px 0 0;

  .card-manaCost {
    top: 0;
    left: 0;
    transform: translate(-25%,-25%);
    z-index: 1;
  }

  .card-sprite {
    position: absolute;
    transform: scale(2) translateX(-50%);
    transform-origin: bottom left;
    pointer-events: none;
    left: 50%;
    bottom: 175px; // Artifacts and spells
    pointer-events: none;
  }

  &[data-type="Unit"] .card-sprite {
    bottom: 150px;
  }

  .card-caption {
    position: absolute;
    top: 113px;
    width: 100%;
    text-transform: uppercase;
  }

  .card-name {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #fff;
  }

  .card-race {
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    color: #90cacf;
  }

  .card-stats {
    position: absolute;
    top: 157px;
    left: 0;
    width: 100%;
    height: 44px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
  }

  .card-attack,
  .card-health {
    position: absolute;
    top: 0;
    width: 45px;
    height: 100%;
  }
  .card-attack {
    left: 31px;
  }
  .card-health {
    right: 31px;
  }

  .card-description {
    position: absolute;
    top: 215px;
    left: 0;
    right: 0;
    font-size: 13px;
    font-weight: 300;
    color: #90cacf;
    padding: 0 14px;
    text-align: center;
  }

  &[data-type="Artifact"] {
    background-image: url('/assets/img/backgrounds/neutral_artifact.png');
  }
  &[data-type="Spell"] {
    background-image: url('/assets/img/backgrounds/neutral_spell.png');
  }
  &[data-type="Unit"] {
    background-image: url('/assets/img/backgrounds/neutral_unit.png');
  }

  &::after {
    content: '';
    width: 253px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('/assets/img/backgrounds/card_glow_line.png') no-repeat center center / contain;
    opacity: 0;
    transition: opacity 150ms;
  }

  &:hover::after {
    opacity: 1;
  }
}

[data-layout="layout-sprite"] .card,
.card.layout-sprite {
  height: 70px;
  width: 70px;
  cursor: initial;
  margin: 0;

  .card-caption,
  .card-stats,
  .card-description {
    display: none;
  }

  .card-sprite {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
  }

  &[data-type="Unit"] .card-sprite {
    top: initial;
    bottom: 0;
    transform: translateX(-50%);
  }
}

[data-layout="layout-list"] .card,
.card.layout-list {
  height: 70px;
  width: 70px;
  cursor: initial;
  margin: 0;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    z-index: -1;

    transition: opacity 150ms;
  }
  &::before {
    background: url('/assets/img/backgrounds/card_background.png') no-repeat bottom center / contain;
  }
  &::after {
    background: url('/assets/img/backgrounds/card_background_highlight.png') no-repeat bottom center /contain;
    opacity: 0;
  }

  &:hover::before {
    opacity: 0;
  }
  &:hover::after {
    opacity: 1;
  }

  .card-manaCost,
  .card-caption,
  .card-stats,
  .card-description {
    display: none;
  }

  .card-sprite {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
  }

  &[data-type="Unit"] .card-sprite {
    top: initial;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.card.is-tooltip {
  margin: 0;
}

.tooltip-wrapper {
  display: none;
}

.deckbuilder-input-wrapper {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $duelystGrey;

  .deckbuilder-input {
    color: $duelystGrey;
    flex: 1;
    padding-right: 1rem;
    background: transparent;
    border: 0;
  }

  &.textarea {
    border: 1px solid $duelystGrey;
    min-height: 5rem;

    textarea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      padding: 0.5rem;
      background: transparent;
      color: $duelystGrey;
    }

    .deckbuilder-input-aside {
      position: absolute;
      bottom: 100%;
      right: 0;
    }
  }

  .deckbuilder-input-aside {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: $duelystGrey;
    padding: 0;
    padding-bottom: 0.125em;

    &:hover {
      color: #fff;
    }
  }
}





$generalsWidth: 1506px;
.select-general-wrapper {
  max-width: $generalsWidth + 25px;
  padding-left: 25px;
  margin: auto;

  .generals {
    display: flex;
    flex-wrap: wrap;
    max-width: $generalsWidth; // width of 6 cards
  }

  .general-choice-wrapper {
    flex-grow: 1;

    .card-manaCost {
      display: none;
    }
  }
}






.deck-mods {
  margin-top: 1.5rem;
  position: absolute;
  right: 0rem;
  top: 0;
  transform: translateX(1rem);
  z-index: 10;

  .decklist-card-info {
    z-index: 1;
  }

  .deck-general {
    align-items: start;

    .card {
      transform: translateY(-25%);
    }
  }
}

.deck-stats {
  .type-counts {
    display: flex;
  }
  .type-count {
    flex: 1;
    text-align: left;
  }
  .type-count-value {
    font-size: 1.25rem;
    color: #fff;
    display: block;
  }
  .crafting-cost {
    text-align: right;
  }
  .crafting-cost-value {
    font-size: 1.25rem;
    color: #fff;
  }
  .deck-breakdown {
    display: flex;
    align-items: end;
  }
  .deck-card-count {
    white-space: nowrap;
    flex: 1;
  }
  .deck-card-count-value {
    font-size: 1.25rem;
    color: #fff;

    &.warn_too-many-cards {
      color: #ee5426;
    }
  }
}
.decklist-card {
  display: flex;
  align-items: center;

  .decklist-card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0.5rem;

    .decklist-card-name {
      color: #fff;
    }
  }

  .decklist-card-options {
    .modCardCount,
    .modDeck {
      background: transparent;
      border: 0;
      opacity: 0.5;
      color: #fff;
      padding: 0 0.5rem 0 0;
      cursor: pointer;
      transition: opacity 150ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}








.fixed-nav {
  position: fixed;
  top: 0;
  height: 100%;
  transition: all 150ms;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 90%;
    background: #fff;
    opacity: 0.1;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    opacity: 0.1;
    z-index: -100;

    background: rgba(123,238,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(123,238,234,1) 0%, rgba(201,244,225,0.08) 55%, rgba(201,244,225,0) 60%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(123,238,234,1)), color-stop(55%, rgba(201,244,225,0.08)), color-stop(60%, rgba(201,244,225,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(123,238,234,1) 0%, rgba(201,244,225,0.08) 55%, rgba(201,244,225,0) 60%);
    background: -o-radial-gradient(center, ellipse cover, rgba(123,238,234,1) 0%, rgba(201,244,225,0.08) 55%, rgba(201,244,225,0) 60%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(123,238,234,1) 0%, rgba(201,244,225,0.08) 55%, rgba(201,244,225,0) 60%);
    background: radial-gradient(ellipse at center, rgba(123,238,234,1) 0%, rgba(201,244,225,0.08) 55%, rgba(201,244,225,0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7beeea', endColorstr='#c9f4e1', GradientType=1 );
  }
}
.fixed-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  padding: 0 1rem;
  z-index: 1;
  background: #161B22;
}

.fixed-nav {
  ul {
    padding: 0;
    margin: 0;
    margin-top: 0.75rem;
  }

  li {
    padding: 0;
    list-style-type: none;

    a, .link {
      display: block;
      white-space: nowrap;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.25rem;
      padding-left: 0;
      font-weight: 300;
      border-bottom: 0px;
      cursor: pointer;
      color: $duelystGrey;

      transition: all 150ms;

      &.active {
        font-weight: 700;
        color: #fff;
        cursor: default;
      }

      &:not(.active):hover {
        padding-left: 1rem;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}

.toggle {
  position: absolute;
  top: 1.5rem;
  transition: color 150ms;
  cursor: pointer;

  font-size: 2rem;

  &:hover {
    color: #fff;
  }
  .fa {
    padding: 0.5rem;
  }

  .toggle-checkbox {
    display: none;
  }
}


.deck-meta-wrapper {
  display: none;
}

.meta-open {
  .deck-info-wrapper {
    display: none;
  }
  .deck-meta-wrapper {
    display: block;
  }
}

[for="deck-meta-toggle"] {
  right: 100%;
  top: 6.5rem;

  input:checked ~ i {
    color: #fff;
  }
}





.deck-export-wrapper {
  display: none;
}

.export-open {
  .deck-info-wrapper {
    display: none;
  }
  .deck-export-wrapper {
    display: block;
  }
}

[for="deck-export-toggle"] {
  right: 100%;
  top: 4rem;

  i {
    font-size: 1.65rem;
  }

  input:checked ~ i {
    color: #fff;
  }
}





$deckInfoWidth: 17rem;
$deckInfoWidthCollapsed: 142px;

.deck-info {
  right: 0;
  width: $deckInfoWidth;

  &::before {
    left: 0;
  }
  &::after {
    left: -20px;
  }
}

.deckbuilder-container {
  margin-right: $deckInfoWidth;
  transition: all 150ms;
  padding: 0 4rem;

  &.hide-add-cards {
    // hide the add cards state view
    .add-cards-wrapper,
    // hide the ability to modify the deck
    & ~ .deck-info .decklist-card-options,
    // hide the add cards settings navs
    & ~ .deckbuilder-settings,
    & ~ .deckbuilder-filters {
      display: none;
    }
  }
}

.min-info {
  margin-right: $deckInfoWidthCollapsed; // Approximate width of card icons

  & ~ .deck-info {
    right: 0;
    width: $deckInfoWidthCollapsed;
    z-index: 10;

    [for="newDraft"] {
      display: none;
    }

    .deck-info-wrapper {
      padding: 0 0.5rem;
    }

    .deck-stats {
      height: 0 !important;
      overflow: hidden;
    }

    .deck-list {
      h2 {
        font-size: 1rem;
      }

      .deck-list-wrapper {
        width: #{$deckInfoWidthCollapsed} - 20px;
      }
    }

    .deck-general,
    .decklist-card-name,
    .decklist-card-options,
    .importDeck {
      display: none;
    }
  }
}





.deckbuilder-cards {
  display: flex;
  flex-wrap: wrap;

  .addCard {
    flex-grow: 1;
    max-width: 150px;
  }
}





.deck-info-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &.importing {
    z-index: 100;
  }

  .deck-list {
    flex: 1;

    .deck-list-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.deck-import-shim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.deck-import-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  max-width: 40rem;
  max-height: 40rem;
  overflow: hidden;
  border: 1px solid #90dff5;

  background: rgba(55,119,138,1);
  background: -moz-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(56,102,135,1)), color-stop(8%, rgba(60,76,115,0.99)), color-stop(21%, rgba(54,70,112,0.98)), color-stop(33%, rgba(43,58,101,0.98)), color-stop(62%, rgba(39,40,83,0.94)), color-stop(79%, rgba(44,35,75,0.91)), color-stop(91%, rgba(48,31,70,0.85)), color-stop(100%, rgba(52,23,64,0.75))); /* safari4+,chrome */
  background: -webkit-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* ie10+ */
  background: linear-gradient(326deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#386687', endColorstr='#341740',GradientType=0 ); /* ie6-9 */

  .deck-import-form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: start;
    padding: 0 1rem 1.5rem 1rem;
  }

  .deck-import-input-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 0;
  }

  .deck-import-output-wrapper {
    flex: 1;
    max-height: 100%;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .deck-import-input {
    max-height: 100%;
    margin-top: 1.5rem;
    border: 1px solid rgba(144,223,245,0.5);
    background: rgba(255,255,255,0.05);
    padding: 1rem;
    flex: 1;
    color: $duelystGrey;
    transition: border 150ms;

    &:focus {
      border: 1px solid rgba(144,223,245,1);
    }
  }

  .deck-import-output {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex: 1;
    overflow: hidden;
  }

  .deck-import-breakdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .import-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    .import-card {
      display: flex;
      align-items: center;
      padding-right: 0.5rem;
    }

    .card {
      margin: 0;
    }
  }

  .deck-import-start {
    margin: 0 auto;
    text-align: center;

    .cta {
      display: inline-block;
    }
  }
}

[for="deck-info-toggle"] {
  right: 100%;
}
.deck-info-toggle {
  & ~ .fa-expand {
    display: none;
  }
  &:checked {
    & ~ .fa-expand {
      display: initial;
    }
    & ~ .fa-compress {
      display: none;
    }
  }
}
.meta-open,
.export-open {
  [for="deck-info-toggle"] {
    display: none;
  }
}

[for="deck-info-show"] {
  display: none;
  right: 100%;
}
.meta-open,
.export-open {
  [for="deck-info-show"] {
    display: initial;
  }
}


$deckbuilderSettingsWidth: 17rem;

.deckbuilder-settings {
  left: -$deckbuilderSettingsWidth;
  width: $deckbuilderSettingsWidth;

  &::before {
    left: 100%;
  }
  &::after {
    right: -20px;
  }
}

.settings-open {
  margin-left: $deckbuilderSettingsWidth;

  & ~ .deckbuilder-settings {
    left: 0;
    z-index: 10;
  }
}

[for="deckbuilder-settings-toggle"] {
  left: 100%;
}





$deckbuilderFiltersWidth: 17rem;

.deckbuilder-filters {
  left: -$deckbuilderFiltersWidth;
  width: $deckbuilderFiltersWidth;

  &::before {
    left: 100%;
  }
  &::after {
    right: -20px;
  }
}

.filters-open {
  margin-left: $deckbuilderSettingsWidth;

  & ~ .deckbuilder-filters {
    left: 0;
    z-index: 10;
  }
}

[for="deckbuilder-filters-toggle"] {
  top: 4.5rem;
  left: 100%;
}

[data-showArtifacts="false"] [data-type="Artifact"],
[data-showSpells="false"] [data-type="Spell"],
[data-showUnits="false"] [data-type="Unit"] {
  display: none;
}

.range-filter-label {
  display: flex;
  align-items: center;

  h3 {
    flex: 1;
  }
}

.check-enabled {
  margin-top: 1.5rem;
  transition: opacity 150ms;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;

  .filter-label {
    display: inline-block;
  }

  input {
    display: none;


    // if unchecked, filter is disabled
    // fade the option
    & ~ * {
      opacity: 0.5;
      transition: all 150ms;
    }
    // show the closed eye, revealing the open eye on hover
    & ~ .is-disabled {
      display: initial;
    }
    & ~ .is-enabled {
      display: none;
    }
    &:hover {
      & ~ * {
        opacity: 1;
      }
      & ~ .is-disabled {
        display: none;
      }
      & ~ .is-enabled {
        display: initial;
      }
    }

    // if checked, filter is enabled
    // show the open eye, revealing the closed eye on hover
    &:checked  {
      & ~ * {
        opacity: 1;
      }
      & ~ .is-disabled {
        display: none;
      }
      & ~ .is-enabled {
        display: initial;
      }
    }
    &:checked:hover {
      & ~ .is-disabled {
        display: initial;
      }
      & ~ .is-enabled {
        display: none;
      }
    }


  }
}









.builder-state-toggles {

  position: absolute;
  top: 10rem;
  right: 100%;

  font-size: 1.5rem;


  .fa {
    padding: 0.5rem;
    transition: all 150ms;
    cursor: pointer;
    opacity: 0.5;
  }

  input {
    display: none;
  }

  input:checked ~ .fa {
    color: #fff;
    cursor: default;
    opacity: 1;
  }

  label:hover .fa {
    color: #fff;
  }
}



.draw-stat-value {
  font-size: 1.25rem;
  color: #fff;
}

.startDraw-chart-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 0.75rem;
}
.startDraw-labels-flex {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 220px;
  width: 33.33%;

  .startDraw-labels {
    text-align: right;
  }

  .card {
    display: inline-block;
  }
}
.startDraw-chart {
  flex: 1;
  display: flex;
  align-items: center;
}

.t1Play-stats-wrapper {
  display: flex;
  flex-wrap: wrap;

  .t1Play-deck {
    width: 100%;
  }
  .t1Play-play,
  .t1Play-stats {
    flex: 1;
  }

  .t1-stat-value {
    font-size: 4.5rem;
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
  }

  .card {
    display: inline-block;
  }

  .t1Play-deck-cards {
    margin-top: 1.5rem;
  }

  .t1Play-play {
    display: flex;
    flex-direction: column;

    .t1Play-play-cards {
      flex: 1;
      margin-top: 1.5rem;
    }
  }
}

.turn1Hand-hand {
  display: inline-block;
  margin-right: 1rem;

  .card {
      display: inline-block;
  }
}

.cardDraw-chart-wrapper {
  margin-top: 1.5rem;

  .card {
    display: inline-block;
  }

  .ct-barlabel {
    opacity: 0;
    transition: opacity 150ms;
  }
  .ct-bar:hover + .ct-barlabel {
    opacity: 1;
  }
}

.winCondition-condition {
  .winCondition-play {
    display: flex;
    flex-direction: column;

    .winCondition-play-cards {
      flex: 1;
      min-height: 2.5rem;
    }
  }

  .card {
    display: inline-block;
  }
}

.winCondition-stats {
  .card {
    display: inline-block;
  }

  .ct-barlabel {
    opacity: 0;
    transition: opacity 150ms;
  }
  .ct-bar:hover + .ct-barlabel {
    opacity: 1;
  }
}

.winCondition-hand-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;

  h4 {
    width: 100%;
  }

  .winCondition-hand {
    width: 25%;
    cursor: pointer;
    border: 1px solid rgba(0,255,255,0.5);
    padding: 0 0.5rem;
    margin: 1rem 1rem 0 0;

    background: -moz-linear-gradient(90deg, rgba(35,43,51,0.75) 0%, rgba(40,48,54,0.82) 6%, rgba(49,55,63,0.91) 19%, rgba(54,60,68,0.95) 30%, rgba(58,65,71,0.97) 40%, rgba(62,68,76,0.98) 49%, rgba(68,73,81,0.99) 59%, rgba(73,79,84,0.99) 67%, rgba(72,86,92,0.99) 77%, rgba(70,96,102,0.99) 88%, rgba(66,111,117,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(66,111,117,1)), color-stop(12%, rgba(70,96,102,0.99)), color-stop(23%, rgba(72,86,92,0.99)), color-stop(33%, rgba(73,79,84,0.99)), color-stop(41%, rgba(68,73,81,0.99)), color-stop(51%, rgba(62,68,76,0.98)), color-stop(60%, rgba(58,65,71,0.97)), color-stop(70%, rgba(54,60,68,0.95)), color-stop(81%, rgba(49,55,63,0.91)), color-stop(94%, rgba(40,48,54,0.82)), color-stop(100%, rgba(35,43,51,0.75))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(35,43,51,0.75) 0%, rgba(40,48,54,0.82) 6%, rgba(49,55,63,0.91) 19%, rgba(54,60,68,0.95) 30%, rgba(58,65,71,0.97) 40%, rgba(62,68,76,0.98) 49%, rgba(68,73,81,0.99) 59%, rgba(73,79,84,0.99) 67%, rgba(72,86,92,0.99) 77%, rgba(70,96,102,0.99) 88%, rgba(66,111,117,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(35,43,51,0.75) 0%, rgba(40,48,54,0.82) 6%, rgba(49,55,63,0.91) 19%, rgba(54,60,68,0.95) 30%, rgba(58,65,71,0.97) 40%, rgba(62,68,76,0.98) 49%, rgba(68,73,81,0.99) 59%, rgba(73,79,84,0.99) 67%, rgba(72,86,92,0.99) 77%, rgba(70,96,102,0.99) 88%, rgba(66,111,117,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(35,43,51,0.75) 0%, rgba(40,48,54,0.82) 6%, rgba(49,55,63,0.91) 19%, rgba(54,60,68,0.95) 30%, rgba(58,65,71,0.97) 40%, rgba(62,68,76,0.98) 49%, rgba(68,73,81,0.99) 59%, rgba(73,79,84,0.99) 67%, rgba(72,86,92,0.99) 77%, rgba(70,96,102,0.99) 88%, rgba(66,111,117,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(35,43,51,0.75) 0%, rgba(40,48,54,0.82) 6%, rgba(49,55,63,0.91) 19%, rgba(54,60,68,0.95) 30%, rgba(58,65,71,0.97) 40%, rgba(62,68,76,0.98) 49%, rgba(68,73,81,0.99) 59%, rgba(73,79,84,0.99) 67%, rgba(72,86,92,0.99) 77%, rgba(70,96,102,0.99) 88%, rgba(66,111,117,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426f75', endColorstr='#232b33',GradientType=0 ); /* ie6-9 */

    &.selected {
      cursor: default;

      background: -moz-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(56,102,135,1)), color-stop(8%, rgba(60,76,115,0.99)), color-stop(21%, rgba(54,70,112,0.98)), color-stop(33%, rgba(43,58,101,0.98)), color-stop(62%, rgba(39,40,83,0.94)), color-stop(79%, rgba(44,35,75,0.91)), color-stop(91%, rgba(48,31,70,0.85)), color-stop(100%, rgba(52,23,64,0.75))); /* safari4+,chrome */
      background: -webkit-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* ie10+ */
      background: linear-gradient(326deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#386687', endColorstr='#341740',GradientType=0 ); /* ie6-9 */
    }

    &:hover {
      background: -moz-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(56,102,135,1)), color-stop(8%, rgba(60,76,115,0.99)), color-stop(21%, rgba(54,70,112,0.98)), color-stop(33%, rgba(43,58,101,0.98)), color-stop(62%, rgba(39,40,83,0.94)), color-stop(79%, rgba(44,35,75,0.91)), color-stop(91%, rgba(48,31,70,0.85)), color-stop(100%, rgba(52,23,64,0.75))); /* safari4+,chrome */
      background: -webkit-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(124deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* ie10+ */
      background: linear-gradient(326deg, rgba(52,23,64,0.75) 0%, rgba(48,31,70,0.85) 9%, rgba(44,35,75,0.91) 21%, rgba(39,40,83,0.94) 38%, rgba(43,58,101,0.98) 67%, rgba(54,70,112,0.98) 79%, rgba(60,76,115,0.99) 92%, rgba(56,102,135,1) 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#386687', endColorstr='#341740',GradientType=0 ); /* ie6-9 */
    }
  }
}

.winCondition-turn-condition {
  .hand-count {
    vertical-align: bottom;
  }

  .turn-count {
    width: 2rem;
    text-align: center;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 1.25em;
    border-bottom: 1px solid #fff;
  }
}

















.deckview {
  .deckview-name {
    margin: 0;
    line-height: 1;
    font-size: 1rem;
    white-space: nowrap;
  }

  .deckview-general {
    margin: 0;
    line-height: 1;
    font-size: 1.75rem;
    white-space: nowrap;
  }

  .deckview-stats {
    .type-counts {
      display: flex;
    }
    .type-count {
      flex: 1;
      text-align: left;
    }
    .type-count-value {
      font-size: 1.25rem;
      color: #fff;
      display: block;
    }
    .crafting-cost {
      text-align: right;
    }
    .crafting-cost-value {
      font-size: 1.25rem;
      color: #fff;
    }
    .deck-breakdown {
      display: flex;
      align-items: end;
    }
    .deck-card-count {
      white-space: nowrap;
      flex: 1;
    }
    .deck-card-count-value {
      font-size: 1.25rem;
      color: #fff;

      &.warn_too-many-cards {
        color: #ee5426;
      }
    }
  }
}

.deckview-landscape {
  display: flex;
  align-items: center;

  & > div {
    margin-right: 1rem;
  }

  .deckview-general-img {
    width: 102px;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .deckview-title {
    min-width: 12rem;
  }

  .deckview-cardlists {
    margin: 0;
  }

  .deckview-cardlist {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
  }

  .deckview-card {
    display: flex;
    align-items: end;
    margin-right: 1.5rem;

    .card {
      margin: 0;

      &::before, &::after {
        display: none;
      }

      &[data-type="Artifact"],
      &[data-type="Spell"] {
        width: 54px;

        .card-sprite {
          left: 50%;
        }
      }
    }

    .card-manaCost {
      right: 100%;
      top: 0.25rem;
      display: initial;
      background: transparent;
      width: initial;
      height: initial;

      line-height: initial;
      font-size: 1rem;
      font-weight: 700;
      color: $manaColor;
      text-shadow: 0 0 1rem rgba(164,255,255,.5);
    }
  }

  .deckview-card-count {
    position: absolute;
    right: 100%;
    bottom: 0;
    transform: translateY(-50%);
    text-shadow:
      -1px -1px 0 #161B22,
      1px -1px 0 #161B22,
      -1px 1px 0 #161B22,
      1px 1px 0 #161B22;
  }

  .deckview-cardType {
    margin-top: 0;
    font-size: 1rem;
    border-bottom: 1px solid $duelystGrey;
  }

  .deckview-textlist-wrapper {
    margin-right: 1rem;
  }
  .deckview-textlist {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }
  .deckview-text {
    white-space: nowrap;
    width: 10rem;
    margin-top: 0.25rem;
    font-size: 0.75rem;
  }
}

.deckview-portrait {
  width: 320px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .deckview-general-img {
    -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	filter: gray;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    opacity: 0.2;
  }

  .deckview-name,
  .deckview-general {
    text-align: center;
  }

  .deckview-card {
    overflow: hidden;
    border-bottom: 1px solid $duelystGrey;

    .card {
      height: 50px;
      width: 100%;
      margin-right: 0;
    }
    .card-manaCost {
      transform: scale(0.5) translateY(-50%);
      top: 50%;
      transform-origin: top center;
    }

    [data-type="Artifact"] .card-sprite,
    [data-type="Spell"] .card-sprite {
      right: 0;
      left: initial;
      transform: translateY(-50%);
    }

    [data-type="Unit"] .card-sprite {
      right: 10px;
      left: initial;
      transform: scaleX(-1) translate(-25%,12.5%);
    }
  }

  .deckview-card-info {
    font-size: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
  }
}

.deckview-container {
  display: flex;

  .deckview-drawStats {
    flex: 1;
    max-width: 1024px;
    padding: 0 1rem;

    h1 {
      margin-top: 0;
    }
  }
}











// Chartist styling
.ct-grid.ct-grid {
  stroke-dasharray: none;
  stroke: $duelystGrey;
}

.ct-chart-bar.ct-chart-bar {
  .ct-bar {
    stroke: $manaColor;
  }

  .ct-barlabel {
    fill: #fff;
  }
  .ct-label {
    color: $duelystGrey;
  }
}

.ct-series-b.ct-series-b .ct-bar {
  stroke: #0167DE;
}

.ct-series-c.ct-series-c .ct-bar {
  stroke: #5CD8F6;
}

.ct-series-d.ct-series-d .ct-bar {
  stroke: #275170;
}

.ct-series-e.ct-series-e .ct-bar {
  stroke: #5DD4D9;
}

$ct-series-colors: $manaColor, #0167DE, #5CD8F6, #275170, #5DD4D9;

.ct-legend {
  position: relative;
  z-index: 10;
  margin: 0;
  margin-left: 30px;

  li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
    list-style: none;
    line-height: 1;
    display: inline-block;
    padding-right: 23px;
    cursor: pointer;
  }

  li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
  }

  li.inactive:before {
    background: transparent;
  }

  &.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
  }

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}

.hidden {
  display: none !important;
}






// Tooltipster styling
.tooltipster-content {
  padding: 0 !important;
}










// noUISlider
.noUi-horizontal {
  height: 0.5rem;
}
.noUi-connect {
  background: $manaColor;
}
.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  top: -.25rem;
  left: -.5rem;

  &::before, &::after {
    display: none;
  }
}

.noUi-pips-horizontal {
  height: 10px;
}
.noUi-value-horizontal {
  padding-top: 10px;
}
.noUi-marker-horizontal.noUi-marker-normal {
  height: 3px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 6px;
}

// Make room for the pips
.deckbuilder-filter_range {
  margin-top: 1rem;
  padding: 0 10px 40px 10px; // Magic number based on plugin
}
