<template name="card">
  <div id="{{isTooltip}}" class="card {{classes}} {{layoutType}} {{#if isTooltip}}is-tooltip{{/if}} {{#if hasTooltip}}has-tooltip{{/if}}" data-tooltip-content="{{hasTooltip}}" data-cardId="{{info.id}}" data-available="{{maxCount}}" data-type="{{info.type}}">
    <div class="card-manaCost">{{info.manaCost}}</div>
    <div class="card-sprite card-id_{{info.id}} {{idleAnimation}}"></div>
    <div class="card-caption">
      <span class="card-name">{{info.name}}</span>
      <div class="card-race">{{info.race}}</div>
      <div class="card-rarity {{info.rarity}}"></div>
    </div>
    {{#if infoAttack}}
    <div class="card-stats">
      <div class="card-attack">{{infoAttack}}</div>
      <div class="card-health">{{info.health}}</div>
    </div>
    {{/if}}
    <div class="card-description">{{info.description}}</div>
  </div>
</template>
