<template name="userLogin">
  <form class="userLogin">
    <div class="form-group">
      <label for="loginUser">Username or Email</label>
      <input type="text" name="loginUser" class="form-control" placeholder="Username or Email" required>
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input type="password" name="loginPassword" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success btn-block btn-lg" value="Log In">
    </div>
  </form>
</template>
