<template name="userSignup">
  <form class="userSignup">
    <div class="form-group">
      <label for="signupEmailAddress">Email Address</label>
      <input type="email" name="signupEmailAddress" class="form-control" placeholder="Email Address" required>
    </div>
    <div class="form-group">
      <label for="signupUsername">Username</label>
      <input type="text" name="signupUsername" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label for="signupPassword">Password</label>
      <input type="password" name="signupPassword" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success btn-block btn-lg" value="Get Started">
    </div>
  </form>
</template>
