<template name="userSignup">
  <form class="userSignup">
    <label for="signupEmailAddress" class="h3 form-label">Email Address</label>
    <input type="email" name="signupEmailAddress" class="form-input" placeholder="you@mailprovider.com" required>

    <label for="signupUsername" class="h3 form-label">Username</label>
    <input type="text" name="signupUsername" class="form-input" placeholder="No spaces or special characters" required>

    <label for="signupPassword" class="h3 form-label">Password</label>
    <input type="password" name="signupPassword" class="form-input" placeholder="At least 6 characters - be responsible!" required>

    <button class="cta primary"><span class="btn-text">get started</span></button>
  </form>
</template>
