<template name="userLogin">
  <form class="userLogin">
    <label for="loginUser" class="h3 form-label">Username or Email</label>
    <input type="text" name="loginUser" class="form-input" placeholder="Username or Email" required>

    <label for="loginPassword" class="h3 form-label">Password</label>
    <input type="password" name="loginPassword" class="form-input" placeholder="Password" required>

    <button class="cta primary"><span class="btn-text">log in</span></button>
  </form>
</template>
