// Lyonar
.card-sprite.card-id_1.group_idle {
    background: url(/assets/img/f1_general.png) -404px 0 no-repeat;
    width: 100px;
    height: 100px;
    animation: animateSprite_1_idle steps(1) 770ms infinite paused
}
@keyframes animateSprite_1_idle {
    0% {
        background-position: -404px 0
    }
    9.0909090909% {
        background-position: -101px -707px
    }
    18.1818181818% {
        background-position: -101px -606px
    }
    27.2727272727% {
        background-position: -101px -505px
    }
    36.3636363636% {
        background-position: -101px -404px
    }
    45.4545454545% {
        background-position: -101px -303px
    }
    54.5454545455% {
        background-position: -101px -202px
    }
    63.6363636364% {
        background-position: -101px -101px
    }
    72.7272727273% {
        background-position: -101px 0
    }
    81.8181818182% {
        background-position: 0 -909px
    }
    90.9090909091% {
        background-position: 0 -808px
    }
}

.card-sprite.card-id_23.group_idle {
    background: url(/assets/img/f1_altgeneral.png) -202px -101px no-repeat;
    width: 100px;
    height: 100px;
    animation: animateSprite_23_idle steps(1) 980ms infinite paused
}

@keyframes animateSprite_23_idle {
    0% {
        background-position: -202px -101px
    }
    7.1428571429% {
        background-position: -202px 0
    }
    14.2857142857% {
        background-position: -101px -909px
    }
    21.4285714286% {
        background-position: -101px -808px
    }
    28.5714285714% {
        background-position: -101px -707px
    }
    35.7142857143% {
        background-position: -101px -606px
    }
    42.8571428571% {
        background-position: -101px -505px
    }
    50% {
        background-position: -101px -404px
    }
    57.1428571429% {
        background-position: -101px -303px
    }
    64.2857142857% {
        background-position: -101px -202px
    }
    71.4285714286% {
        background-position: -101px -101px
    }
    78.5714285714% {
        background-position: -101px 0
    }
    85.7142857143% {
        background-position: 0 -909px
    }
    92.8571428571% {
        background-position: 0 -808px
    }
}

// Songhai

.card-sprite.card-id_101.group_idle {
    background: url(/assets/img/f2_general.png) -243px 0 no-repeat;
    width: 80px;
    height: 80px;
    animation: animateSprite_101_idle steps(1) 980ms infinite paused
}
@keyframes animateSprite_101_idle {
    0% {
        background-position: -243px 0
    }
    7.1428571429% {
        background-position: -81px 0
    }
    14.2857142857% {
        background-position: 0 -891px
    }
    21.4285714286% {
        background-position: 0 -810px
    }
    28.5714285714% {
        background-position: 0 -729px
    }
    35.7142857143% {
        background-position: 0 -648px
    }
    42.8571428571% {
        background-position: 0 -567px
    }
    50% {
        background-position: 0 -486px
    }
    57.1428571429% {
        background-position: 0 -405px
    }
    64.2857142857% {
        background-position: 0 -324px
    }
    71.4285714286% {
        background-position: 0 -243px
    }
    78.5714285714% {
        background-position: 0 -162px
    }
    85.7142857143% {
        background-position: 0 -81px
    }
    92.8571428571% {
        background-position: 0 0
    }
}

.card-sprite.card-id_123.group_idle {
    background: url(/assets/img/f2_altgeneral.png) -262px -131px no-repeat;
    width: 130px;
    height: 130px;
    animation: animateSprite_123_idle steps(1) 1.12s infinite paused
}
@keyframes animateSprite_123_idle {
    0% {
        background-position: -262px -131px
    }
    6.25% {
        background-position: -262px 0
    }
    12.5% {
        background-position: -131px -786px
    }
    18.75% {
        background-position: -131px -655px
    }
    25% {
        background-position: -131px -524px
    }
    31.25% {
        background-position: -131px -393px
    }
    37.5% {
        background-position: -131px -262px
    }
    43.75% {
        background-position: -131px -131px
    }
    50% {
        background-position: -131px 0
    }
    56.25% {
        background-position: 0 -786px
    }
    62.5% {
        background-position: 0 -655px
    }
    68.75% {
        background-position: 0 -524px
    }
    75% {
        background-position: 0 -393px
    }
    81.25% {
        background-position: 0 -262px
    }
    87.5% {
        background-position: 0 -131px
    }
    93.75% {
        background-position: 0 0
    }
}

// Vetruvian

.card-sprite.card-id_201.group_idle {
    background: url(/assets/img/f3_general.png) -486px 0 no-repeat;
    width: 80px;
    height: 80px;
    animation: animateSprite_201_idle steps(1) 840ms infinite paused
}
@keyframes animateSprite_201_idle {
    0% {
        background-position: -486px 0
    }
    8.3333333333% {
        background-position: -162px -243px
    }
    16.6666666667% {
        background-position: -162px -162px
    }
    25% {
        background-position: -162px -81px
    }
    33.3333333333% {
        background-position: -162px 0
    }
    41.6666666667% {
        background-position: -81px -891px
    }
    50% {
        background-position: -81px -810px
    }
    58.3333333333% {
        background-position: -81px -729px
    }
    66.6666666667% {
        background-position: -81px -648px
    }
    75% {
        background-position: -81px -567px
    }
    83.3333333333% {
        background-position: -81px -486px
    }
    91.6666666667% {
        background-position: -81px -405px
    }
}

.card-sprite.card-id_223.group_idle {
    background: url(/assets/img/f3_altgeneral.png) -1110px -666px no-repeat;
    width: 110px;
    height: 110px;
    animation: animateSprite_223_idle steps(1) 980ms infinite paused
}
@keyframes animateSprite_223_idle {
    0% {
        background-position: -1110px -666px
    }
    7.1428571429% {
        background-position: -1110px -555px
    }
    14.2857142857% {
        background-position: -1110px -444px
    }
    21.4285714286% {
        background-position: -1110px -333px
    }
    28.5714285714% {
        background-position: -1110px -222px
    }
    35.7142857143% {
        background-position: -1110px -111px
    }
    42.8571428571% {
        background-position: -1110px 0
    }
    50% {
        background-position: -999px -888px
    }
    57.1428571429% {
        background-position: -999px -777px
    }
    64.2857142857% {
        background-position: -999px -666px
    }
    71.4285714286% {
        background-position: -999px -555px
    }
    78.5714285714% {
        background-position: -999px -444px
    }
    85.7142857143% {
        background-position: -999px -333px
    }
    92.8571428571% {
        background-position: -999px -222px
    }
}

// Abyssian
.card-sprite.card-id_301.group_idle {
    background: url(/assets/img/f4_general.png) -324px -567px no-repeat;
    width: 80px;
    height: 80px;
    animation: animateSprite_301_idle steps(1) 770ms infinite paused
}
@keyframes animateSprite_301_idle {
    0% {
        background-position: -324px -567px
    }
    9.0909090909% {
        background-position: 0 -729px
    }
    18.1818181818% {
        background-position: 0 -648px
    }
    27.2727272727% {
        background-position: 0 -567px
    }
    36.3636363636% {
        background-position: 0 -486px
    }
    45.4545454545% {
        background-position: 0 -405px
    }
    54.5454545455% {
        background-position: 0 -324px
    }
    63.6363636364% {
        background-position: 0 -243px
    }
    72.7272727273% {
        background-position: 0 -162px
    }
    81.8181818182% {
        background-position: 0 -81px
    }
    90.9090909091% {
        background-position: 0 0
    }
}

.card-sprite.card-id_323.group_idle {
    background: url(/assets/img/f4_altgeneral.png) -262px -1179px no-repeat;
    width: 130px;
    height: 130px;
    animation: animateSprite_323_idle steps(1) 770ms infinite paused
}
@keyframes animateSprite_323_idle {
    0% {
        background-position: -262px -1179px
    }
    9.0909090909% {
        background-position: -262px -1048px
    }
    18.1818181818% {
        background-position: -262px -917px
    }
    27.2727272727% {
        background-position: -262px -786px
    }
    36.3636363636% {
        background-position: -262px -655px
    }
    45.4545454545% {
        background-position: -262px -524px
    }
    54.5454545455% {
        background-position: -262px -393px
    }
    63.6363636364% {
        background-position: -262px -262px
    }
    72.7272727273% {
        background-position: -262px -131px
    }
    81.8181818182% {
        background-position: -262px 0
    }
    90.9090909091% {
        background-position: -131px -1834px
    }
}

// Magmar

.card-sprite.card-id_401.group_idle {
    background: url(/assets/img/f5_general.png) -324px -81px no-repeat;
    width: 80px;
    height: 80px;
    animation: animateSprite_401_idle steps(1) 840ms infinite paused
}
@keyframes animateSprite_401_idle {
    0% {
        background-position: -324px -81px
    }
    8.3333333333% {
        background-position: -324px 0
    }
    16.6666666667% {
        background-position: -243px -891px
    }
    25% {
        background-position: -243px -810px
    }
    33.3333333333% {
        background-position: -243px -729px
    }
    41.6666666667% {
        background-position: -243px -648px
    }
    50% {
        background-position: -243px -567px
    }
    58.3333333333% {
        background-position: -243px -486px
    }
    66.6666666667% {
        background-position: -243px -405px
    }
    75% {
        background-position: -243px -324px
    }
    83.3333333333% {
        background-position: -243px -243px
    }
    91.6666666667% {
        background-position: -486px -405px
    }
}

.card-sprite.card-id_418.group_idle {
    background: url(/assets/img/f5_altgeneral.png) -786px -393px no-repeat;
    width: 130px;
    height: 130px;
    animation: animateSprite_418_idle steps(1) 980ms infinite paused
}
@keyframes animateSprite_418_idle {
    0% {
        background-position: -786px -393px
    }
    7.1428571429% {
        background-position: -1572px -524px
    }
    14.2857142857% {
        background-position: -786px -131px
    }
    21.4285714286% {
        background-position: -786px 0
    }
    28.5714285714% {
        background-position: -655px -786px
    }
    35.7142857143% {
        background-position: -655px -655px
    }
    42.8571428571% {
        background-position: -655px -524px
    }
    50% {
        background-position: -655px -393px
    }
    57.1428571429% {
        background-position: -655px -262px
    }
    64.2857142857% {
        background-position: -655px -131px
    }
    71.4285714286% {
        background-position: -655px 0
    }
    78.5714285714% {
        background-position: -524px -786px
    }
    85.7142857143% {
        background-position: -524px -655px
    }
    92.8571428571% {
        background-position: -524px -524px
    }
}

// Vanar

.card-sprite.card-id_501.group_idle {
    background: url(/assets/img/f6_general.png) -162px -810px no-repeat;
    width: 80px;
    height: 80px;
    animation: animateSprite_501_idle steps(1) 910ms infinite paused
}
@keyframes animateSprite_501_idle {
    0% {
        background-position: -162px -810px
    }
    7.6923076923% {
        background-position: -162px -729px
    }
    15.3846153846% {
        background-position: -162px -648px
    }
    23.0769230769% {
        background-position: -162px -567px
    }
    30.7692307692% {
        background-position: -162px -486px
    }
    38.4615384615% {
        background-position: -162px -405px
    }
    46.1538461538% {
        background-position: -162px -324px
    }
    53.8461538462% {
        background-position: -162px -243px
    }
    61.5384615385% {
        background-position: -162px -162px
    }
    69.2307692308% {
        background-position: -162px -81px
    }
    76.9230769231% {
        background-position: -162px 0
    }
    84.6153846154% {
        background-position: -81px -891px
    }
    92.3076923077% {
        background-position: -81px -810px
    }
}

.card-sprite.card-id_527.group_idle {
    background: url(/assets/img/f6_altgeneral.png) -202px -101px no-repeat;
    width: 100px;
    height: 100px;
    animation: animateSprite_527_idle steps(1) 840ms infinite paused
}
@keyframes animateSprite_527_idle {
    0% {
        background-position: -202px -101px
    }
    8.3333333333% {
        background-position: -202px 0
    }
    16.6666666667% {
        background-position: -101px -909px
    }
    25% {
        background-position: -101px -808px
    }
    33.3333333333% {
        background-position: -101px -707px
    }
    41.6666666667% {
        background-position: -101px -606px
    }
    50% {
        background-position: -101px -505px
    }
    58.3333333333% {
        background-position: -101px -404px
    }
    66.6666666667% {
        background-position: -101px -303px
    }
    75% {
        background-position: -101px -202px
    }
    83.3333333333% {
        background-position: -101px -101px
    }
    91.6666666667% {
        background-position: -101px 0
    }
}
