<template name="databaseCard">
  {{#if cardResult}}
  <a href="/database/cards/{{this.info.id}}" class="db-card" data-type="{{this.info.type}}">
    <div class="mana-cost"><span class="value">{{this.info.manaCost}}</span></div>
    <div class="card-sprite">
      <div class="sprite {{#if this.info.health}}breathing breathe breath{{else}}passive{{/if}} id_{{this.info.id}}" data-playing="{{#if this.stopped}}false{{else}}true{{/if}}"></div>
    </div>
    <div class="card-caption">
      <div class="name"><span class="value">{{> highlightQuery text=this.info.name query=query}}</span></div>
      <p class="type">
        <span class="value">{{> highlightQuery text=this.info.race query=query}}</span>
      </p>
      <p class="rarity {{this.info.rarity}}"><span class="value">{{this.info.rarity}}</span></p>
      {{#if this.info.health}}
      <ul class="stats">
          <li class="stat-property stat-atk">
              <span class="value">{{this.info.attack}}</span>
          </li>
          <li class="stat-property stat-hp">
              <span class="value">{{this.info.health}}</span>
          </li>
      </ul>
      {{/if}}
    </div>
    <p class="card-description"><span class="value">{{> highlightQuery text=this.info.description keywords=true query=query}}</span></p>
  </a>
  {{/if}}
  {{#if currentCard}}
  <div class="db-card" data-type="{{this.info.type}}">
    <div class="mana-cost"><span class="value">{{this.info.manaCost}}</span></div>
    <div class="card-sprite">
      <div class="sprite {{#if this.info.health}}breathing breathe breath{{else}}passive{{/if}} id_{{this.info.id}}" data-playing="{{#if this.stopped}}false{{else}}true{{/if}}"></div>
    </div>
    <div class="card-caption">
      <div class="name"><span class="value">{{this.info.name}}</span></div>
      <p class="type">
        <span class="value">{{this.info.race}}</span>
      </p>
      <p class="rarity {{this.info.rarity}}"><span class="value">{{this.info.rarity}}</span></p>
      {{#if this.info.health}}
      <ul class="stats">
          <li class="stat-property stat-atk">
              <span class="value">{{this.info.attack}}</span>
          </li>
          <li class="stat-property stat-hp">
              <span class="value">{{this.info.health}}</span>
          </li>
      </ul>
      {{/if}}
    </div>
    <p class="card-description"><span class="value">{{parsedDescription}}</span></p>
  </div>
  {{/if}}
  {{#if historicalCard}}
  <div class="db-card" data-type="{{this.info.type}}">
    <div class="mana-cost">
    <span class="value">{{{this.info.manaCostDiffRemove}}}</span>
    <span class="value">{{{this.info.manaCostDiffAdd}}}</span>
      <span class="value">{{this.info.manaCost}}</span>
    </div>
    <div class="card-sprite">
      <div class="sprite {{#if this.info.health}}idle{{else}}passive{{/if}} id_{{this.info.id}}" data-playing="{{#if this.stopped}}false{{else}}true{{/if}}"></div>
    </div>
    <div class="card-caption">
      <div class="name"><span class="value">{{{this.info.nameDiffRemove}}}</span></div>
      <div class="name"><span class="value">{{{this.info.nameDiffAdd}}}</span></div>
      <div class="name"><span class="value">{{this.info.name}}</span></div>

      <p class="type"><span class="value">{{{this.info.raceDiffRemove}}}</span></p>
      <p class="type"><span class="value">{{{this.info.raceDiffAdd}}}</span></p>
      <p class="type"><span class="value">{{this.info.race}}</span></p>

      <p class="rarity"><span class="value">{{{this.info.rarityDiffRemove}}}</span></p>
      <p class="rarity"><span class="value">{{{this.info.rarityDiffAdd}}}</span></p>
      <p class="rarity {{this.info.rarity}}"><span class="value">{{this.info.rarity}}</span></p>
      {{#if this.info.health}}
      <ul class="stats">
          <li class="stat-property stat-atk">
              <span class="value">{{this.info.attack}}</span>
              <span class="value">{{{this.info.attackDiffRemove}}}</span>
              <span class="value">{{{this.info.attackDiffAdd}}}</span>
          </li>
          <li class="stat-property stat-hp">
              <span class="value">{{this.info.health}}</span>
              <span class="value">{{{this.info.healthDiffRemove}}}</span>
              <span class="value">{{{this.info.healthDiffAdd}}}</span>
          </li>
      </ul>
      {{/if}}
    </div>
    <p class="card-description"><span class="value">{{{this.info.descriptionDiffAdd}}}</span></p>
    <p class="card-description"><span class="value">{{{this.info.descriptionDiffRemove}}}</span></p>
    <p class="card-description"><span class="value">{{parsedDescription}}</span></p>
  </div>
  {{/if}}
  {{#unless this.layout}}
  <div class="db-card" data-type="{{this.info.type}}">
    <div class="mana-cost"><span class="value">{{this.info.manaCost}}</span></div>
    <div class="card-sprite">
      <div class="sprite {{#if this.info.health}}idle{{else}}passive{{/if}} id_{{this.info.id}}" data-playing="{{#if this.stopped}}false{{else}}true{{/if}}"></div>
    </div>
    <div class="card-caption">
      <div class="name"><span class="value">{{this.info.name}}</span></div>
      <p class="type">
        <span class="value">{{this.info.race}}</span>
      </p>
      <p class="rarity {{this.info.rarity}}"><span class="value">{{this.info.rarity}}</span></p>
      {{#if this.info.health}}
      <ul class="stats">
          <li class="stat-property stat-atk">
              <span class="value">{{this.info.attack}}</span>
          </li>
          <li class="stat-property stat-hp">
              <span class="value">{{this.info.health}}</span>
          </li>
      </ul>
      {{/if}}
    </div>
    <p class="card-description"><span class="value">{{parsedDescription}}</span></p>
  </div>
  {{/unless}}
</template>
