<template name="databaseNav">
  <nav class="database-nav">
    <div class="nav-bar">
      {{#unless searchElsewhere}}
      <div class="site-title-container">
        <a class="site-title h3" href="/"><span>kit.</span><span>listlyst</span></a>
      </div>
      <div class="nav-searchbar">
        <form class="nav-database-search">
          <div class="form-group">
            <input type="text" name="searchDatabase" class="form-control" placeholder="a card name, race, or description">
            <label for="searchDatabase"><i class="fa fa-search"></i></label>
          </div>
          <ul class="nav-search-results">
            {{#if query}}
              {{#if searching}}
                <li class="nav-result">searching for <code>{{query}}</code></li>
              {{else}}
                {{#if results}}
                  {{#each results}}
                  <li class="nav-result">
                    <a href="/database/cards/{{this.id}}" class="result-link">{{this.name}}</a>
                    <div class="result-sprite {{this.type}}"><div class="sprite {{#if this.health}}breathing breathe breath{{else}}passive{{/if}} id_{{this.id}}"></div></div>
                  </li>
                  {{/each}}
                {{else}}
                  <li class="nav-result">No results found for <code>{{query}}</code></li>
                {{/if}}
              {{/if}}
            {{else}}
                <li class="nav-result">type something</li>
            {{/if}}
          </ul>
        </form>
      </div>
      {{/unless}}
      <div class="nav-options">
        <a href="/database">Main</a> | <a class="nav-option" data-option="cards" href="/database/cards">Cards</a> | <a class="nav-option" data-option="patches" href="">Patch Changes</a> | <a class="nav-option" data-option="" href="">Lore</a>
      </div>
    </div>
    <div class="nav-suboptions">
      <div class="suboptions-list" data-suboption="cards">
        <ul>
          <li class="nav-suboption"><a href="/database/cards">All</a></li>
        </ul>
        By Faction
        <ul>
          <li class="nav-suboption"><a href="/database/factions/lyonar">Lyonar Kingdoms</a></li>
          <li class="nav-suboption"><a href="/database/factions/songhai">Songhai Empire</a></li>
          <li class="nav-suboption"><a href="/database/factions/vetrivian">Vetruvian Imperium</a></li>
          <li class="nav-suboption"><a href="/database/factions/abyssian">Abyssian Host</a></li>
          <li class="nav-suboption"><a href="/database/factions/magmar">Magmar Aspects</a></li>
          <li class="nav-suboption"><a href="/database/factions/vanar">Vanar Kindred</a></li>
          <li class="nav-suboption"><a href="/database/factions/neutral">Neutral</a></li>
        </ul>
        by Expansion
        <ul>
          <li class="nav-suboption"><a href="/database/expansions/base">Base</a></li>
          <li class="nav-suboption"><a href="/database/expansions/dos">Denizens of Shim'Zar</a></li>
          <li class="nav-suboption"><a href="/database/expansions/rotb">Rise of the Bloodborn</a></li>
        </ul>
      </div>
      <div class="suboptions-list" data-suboption="patches">
        {{#each patches}}
        {{this.phase}}
        <ul>
            {{#each this.patches}}
            <li class="nav-suboption"><a href="/database/patches/{{patch}}">{{patch}}</a></li>
            {{/each}}
        </ul>
        {{/each}}
      </div>
    </div>
  </nav>
</template>
