.screen__versus {
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  // background: url('/assets/screenshots/zirix_cass.jpg') no-repeat top -20px left;
  background: radial-gradient(ellipse at center, rgba(129,138,214,0.4) 0%, rgba(0,10,30,0.94) 85%, rgba(0,10,30,1) 93%);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 125%;
    background:radial-gradient(ellipse at center, rgba(153,218,255,0) 0%,  rgba(7,20,41,1) 75%, rgba(0,10,30,1) 100%);
    pointer-events: none;
  }

  font-family: 'Lato';
}

.general-illustration {
  width: 2560px; // height of image
  height: 1850px; // height of image

  [data-general] {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.selected-general {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .general-name {
    text-transform: uppercase;
    position: absolute;
    top: 62.5%;
    width: 37%;
    font-weight: 800;
    text-align: center;
    font-size: 38px;

    z-index: 1;
  }

  .general-illustration {
    position: absolute;
    top: 0;
    left: 0;

    [data-general] {
      opacity: 0;
      transition: all 150ms;
    }
  }

  &.player-1 {
    top: 0;
    left: 0;

    .general-illustration {
      transform: translate(-12%, -10%);

      [data-general] {
        transform: translateX(-50%);
      }

      $generals: 1, 23, 101, 123, 201, 223, 301, 323, 401, 418, 501, 527;
      @each $general in $generals {
        &[data-general="#{$general}"] > [data-general="#{$general}"] {
          opacity: 1;
          transform: translateX(-25%);
        }
      }
    }

    .general-name {
      left: 0;
    }
  }

  &.player-2 {
    top: 0;
    right: 0;

    .general-illustration {
      transform: translate(-17%, -10%);

      [data-general] {
        transform: translateX(50%);
      }

      $generals: 1, 23, 101, 123, 201, 223, 301, 323, 401, 418, 501, 527;
      @each $general in $generals {
        &[data-general="#{$general}"] > [data-general="#{$general}"] {
          opacity: 1;
          transform: translateX(25%);
        }
      }
    }

    .general-name {
      right: 0;
    }
  }
}

$vsIndicatorWidth: 488px;
$vsIndicatorHeight: 365px;

$vsSelectorWidth: 112px;
$vsSelectorHeight: 200px;

$vsScale: 1.25;
.versus-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('/assets/img/scene/vs_crest.png') no-repeat center center / cover;
  width: #{ $vsIndicatorWidth * $vsScale };
  height: #{ $vsIndicatorHeight * $vsScale };

  .general-selector {
    width: #{ $vsSelectorWidth * $vsScale };
    height: #{ $vsSelectorHeight * $vsScale };
    font-size: 0;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    opacity: 0.75;
    transition: all 150ms;

    &:hover {
      opacity: 1;
      transform: translateY(-50%) scale(1.1);
    }

    &::before {
      content: '';
      background: url('/assets/img/scene/vs_selector.png') no-repeat center center / contain;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.player-1 {
      left: 19%;

      &::before {
        transform: scale(-1);
      }
    }

    &.player-2 {
      right: 17%;
    }
  }
}

.scene__create {
  z-index: 1;
  position: absolute;
  top: 675px;
  left: 50%;
  transform: translateX(-50%);
}

.screen__general-selection {
  font-family: 'Lato';

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;

  z-index: 1;
  background: radial-gradient(ellipse at center, rgba(129,138,214,0.4) 0%, rgba(0,10,30,0.94) 85%, rgba(0,10,30,1) 93%);

  .current-general {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .general-illustration {
    position: absolute;
    transform: translate(-12.5%, -12.5%);

    [data-general] {
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  &[data-player="1"] {
    .general-illustration {

      $generals: 1, 23, 101, 123, 201, 223, 301, 323, 401, 418, 501, 527;
      @each $general in $generals {
        &[data-general="#{$general}"] > [data-general="#{$general}"] {
          opacity: 1;
          transform: translateX(-25%);
        }
      }
    }
  }

  &[data-player="2"] {
    .general-illustration {

      $generals: 1, 23, 101, 123, 201, 223, 301, 323, 401, 418, 501, 527;
      @each $general in $generals {
        &[data-general="#{$general}"] > [data-general="#{$general}"] {
          opacity: 1;
          transform: translateX(25%);
        }
      }
    }
  }
}

$generalHexagon: 268px;
$generalWidth: 430px;
$generalHeight: 489px;

.general-hex {
  pointer-events: none;
  width: #{$generalWidth * 0.44};
  height: #{$generalHeight * 0.44};
  @media (min-width: 1281px) {
    width: #{$generalWidth * 0.55};
    height: #{$generalHeight * 0.55};
  }

  &::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 15%;
    width: 72%;
    height: 71%;
    pointer-events: initial;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
  }

  $generals: 1, 23, 101, 123, 201, 223, 301, 323, 401, 418, 501, 527;
  @each $general in $generals {
    &[data-general="#{$general}"] {
      background: url('/assets/img/scene/generals/hex/hex_#{$general}.png') no-repeat center center / cover;
    }
  }
}

.general-options {
  text-align: right;
  font-size: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  bottom: 0;
  left: 0;

  // HACK change positioning when hexagons don't fit
  justify-content: flex-end;
  align-items: center;
  @media (min-width: 1151px) {
    justify-content: space-around;
    align-items: flex-end;
  }
  @media (min-width: 1281px) {
    justify-content: flex-end;
    align-items: center;
  }
  @media (min-width: 1438px) {
    justify-content: space-between;
    align-items: flex-end;
  }

  .general-hex {
    margin: 0 -56px;
  }
  .options-left,
  .options-right {
    margin-top: -56px; // make up for the top spacing
    padding: 0 56px 112px 56px;
  }

  .options-left .general-hex:nth-child(even),
  .options-right .general-hex:nth-child(odd) {
  margin-bottom: -112px;
  z-index: 1;
  }

  @media (min-width: 1281px) {
    .general-hex {
      margin: 0 -70px;
    }
    .options-left,
    .options-right {
      margin-top: -70px; // make up for the top spacing
      padding: 0 70px 140px 70px;
    }

    .options-left .general-hex:nth-child(even),
    .options-right .general-hex:nth-child(odd) {
      margin-bottom: -140px;
      z-index: 1;
    }
  }

  .general-hex {
    filter: grayscale(100);
    transition: all 150ms;
    display: inline-block;

    &:hover {
      filter: grayscale(0);
    }

    &.selected {
      filter: grayscale(0);
    }
  }
}

.general-selection__options{
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: 0.65rem;
  text-align: center;

  .general-selection__option:not(.cta) {
    background: transparent;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
  }
}
